@using Web_App.Helpers;
<script src="~/Scripts/views/vContrasenna.js"></script>
@{
    ViewBag.Title = "RegistrarContrasenna";
}

<head>
    <link href="~/Content/inicio-sesion.css" rel="stylesheet">
</head>

<body class="text-center card-body pt-5">
    <form class="form-signin" id="frm-registro-contrasenna">
        <img class="mb-4" src="~/Content/imgs/logo-blue.svg" alt="" width="250" height="150">

        <h1 class="h3 mb-3 font-weight-lighter">Registrar contraseña</h1>
        <p>Ingrese su correo electrónico y la contraseña que tendrá su usuario. </p>

        <div class="form-group">
            @Html.CtrlInput(id: "correo", type: "text", label: "", placeHolder: "Correo", columnDataName: "Correo")
        </div>
        <div class="form-group">
            @Html.CtrlInput(id: "contrasenna", type: "password", label: "", placeHolder: "Contraseña", columnDataName: "Contrasenna")
        </div>
        <div class="form-group row login-submit">
            <div class="inicio"> @Html.CtrlButton(viewName: "vContrasenna", id: "btnRegistroContrasenna", label: "Registrar contraseña", onClickFunction: "Create", buttonType: "primary")</div>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</body>


