
@{
    ViewBag.Title = "Header";
}
<head>
    <link href="~/Content/HeaderComp.css" rel="stylesheet" />
</head>
<nav class="navBar">
    <div class="brand-container container">
        <a class="navBar-brand" href="https://localhost:44339/Home/LandingPage">
            <img src="~/Content/imgs/logo-blue.svg" alt="logo">
        </a>
    </div>
</nav>

